h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: normal;
	color: #CCCCCC;
	line-height: 14px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 12px;
	margin-left: 0px;
	padding-top: 20px;
}
.topbar {  background-color: #666699}
.bottombar {  background-color: #666699}
.mainparagraphs {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	margin-top: 12px;
	margin-right: 36px;
	margin-bottom: 12px;
	margin-left: 36px;
	line-height: 20px;
}
.sideparagraph { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; margin-top: 12px; margin-right: 12px; margin-bottom: 12px; margin-left: 12px; line-height: 16px}
.sidebarbg {  background-color: #D6D3CE}
h2 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 24px;
	font-weight: normal;
	color: #CCCCCC;
	line-height: 24px;
	margin-top: 20px;
	margin-right: 6px;
	margin-bottom: 0px;
	margin-left: 12px;
	text-align: left;
	text-indent: 0px;
	padding-top: 20px;
}
.logo {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 14px; letter-spacing: 8px; background-color: #D6D3CE; color: #666699}
.copyright { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #999999; text-indent: 3pt}
.topbarlink { font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 11px; color: #FFFFFF; margin-top: 12px; margin-right: 12px; margin-bottom: 12px; margin-left: 12px; line-height: 11px}
.sideparagraph a:link {  color: #666699; text-decoration: underline}
.sideparagraph a:visited {  color: #666699; text-decoration: underline}
.sideparagraph a:hover {  color: #D6D3CE; text-decoration: none; background-color: #666699}
.sideparagraph a:active {  color: #996666; text-decoration: underline}
body {  background-color: #FFFFFF}
.mainparagraphs a:link {  color: #666699; text-decoration: underline}
.mainparagraphs a:visited {  color: #999999; text-decoration: underline}
.mainparagraphs a:hover {  color: #D6D3CE; text-decoration: none; background-color: #666699}
.mainparagraphs a:active {  color: #333333; text-decoration: underline}
.picture {  background-color: #D6D3CE; background-image: url(http://www.yourdomain.com/assets/images/bluesmoothie.gif)}
.logo a:active { color: #00CC33; text-decoration: none}
.logo a:hover { color: #00CC33; text-decoration: underline; background-color: #999999}
.logo a:link { color: #009933; text-decoration: none}
.logo a:visited { color: #009933; text-decoration: none}
.topbarlink a:active { color: #CCCCCC; text-decoration: underline }
.topbarlink a:hover { color: #D6D3CE; text-decoration: none; background-color: #0066FF}
.topbarlink a:link { color: #666666; text-decoration: underline }
.topbarlink a:visited { color: #666666; text-decoration: underline }
.tabInTable {  margin-left: 20px}
.headingInMain { font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 24px; color: #666666; margin-top: 12px; margin-right: 12px; margin-bottom: 12px; line-height: 16px }
.tagFont { font-family: "Courier New", "Courier", "mono"; font-size: 14px; color: #000099; font-weight: bold}
.customH1 { font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 24px; font-weight: normal; color: #CCCCCC; line-height: 16px; margin-top: 24px; margin-right: 0px; margin-bottom: 24px; margin-left: 0px }
.customH1Dark { font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 24px; font-weight: normal; color: #666666; line-height: 16px; margin-top: 24px; margin-right: 0px; margin-bottom: 24px; margin-left: 0px }
h3 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 18px;
	font-weight: normal;
	color: #CCCCCC;
	line-height: 18px;
	margin-top: 6px;
	margin-right: 6px;
	margin-bottom: 0px;
	margin-left: 12px;
	text-align: left;
	text-indent: 0px;
	padding-left: 25px;
	padding-top: 10px;
}
.tableTitleFont { font-family: "Arial", "Helvetica", "sans-serif"; font-size: 14px; color: #CCCCCC; text-indent: 3pt }
.mainparagraphsList { font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #666666; margin-right: 36px; line-height: 22px; list-style-type: square}
.mainparagraphsFirstList { font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 16px; color: #666666; margin-right: 36px; line-height: 22px; list-style-type: square ; font-weight: bold}
ol {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-left: 25px;
	font-size: 12px;
}
ul {

	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-left: 25px;
	font-size: 12px;
}
pre {

	color: #666666;
	padding-left: 50px;
	font-size: 12px;
}
